.create-progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 280px;
  margin: 0 auto;
  @media (min-width: 991px) {
    flex-direction: column;
    justify-content: space-between;
    min-height: 240px;
    align-items: start;
  }
  &__item {
    display: flex;
    gap: 8px;
    align-items: center;
  }
  &__step {
    width: 20px;
    height: 20px;
    border: 1px solid #404550;
    border-radius: 50%;
    background-color: #1F2432;
    font-size: 8px;
    display: grid; 
    place-items: center;
    font-weight: 600;
    line-height: 1;
    @media (min-width: 991px) {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
    &--active {
      border: 1px solid #31A1E5;
    }
    div {
      position: relative;
      top: -0.5px;
    }
  }
  &__divider {
    flex-grow: 1;
    background: #404550;
    height: 2px;
    @media (min-width: 991px) {
      width: 2px;
      height: initial;
      margin-left: 14px;
    }
  }
}