<div class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-logo" routerLink="/">
        <div class="logo-img"></div>
        <div>Revenue Splitter</div>
      </div>

      <div class="header__buttons">
        @if (ws.connected()) {
          <div class="only-desctop">
            <button class="button button--primary" routerLink="/my-vaults">
              <span>My Vaults</span>
            </button>
          </div>
          <div class="only-mobile">
            <button class="button button--primary button--min-size" routerLink="/my-vaults">
              <img class="only-mobile" src="assets/icons/vaults.svg" />
            </button>
          </div>
        }
        <div class="header-wallet" (click)="toggleMenu($event)">
          <div class="icon-wrapper">
            <img src="assets/icons/wallet.svg" />
          </div>
          <span class="text-sm no-wrap">
            {{ ws.connected() ? ws.shortPubkey() : 'Connect Wallet' }}
          </span>
        </div>

        <div class="wallet-menu" *ngIf="menuOpen()">
          <ng-container *ngIf="!ws.connected(); else connectedTpl">
            <div class="menu-title">Select wallet</div>
        
            <button class="menu-item" *ngFor="let w of wallets()" [class.disabled]="!w.connectable"
              (click)="w.connectable ? selectAndConnect(w.name) : onInstall(w.name, $event)">
              {{ w.name }} <span *ngIf="!w.connectable" style="opacity:.7;">— Install</span>
            </button>
          </ng-container>
        
          <ng-template #connectedTpl>
            <div class="menu-title">{{ ws.walletName() }}</div>
            <div class="menu-sub">{{ ws.shortPubkey() }}</div>
            <button class="menu-item" (click)="testRpc()">Test RPC</button>
            <button class="menu-item" (click)="airdrop1()">Airdrop 1 SOL (devnet)</button>
            <button class="menu-item" (click)="disconnect()">Disconnect</button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>