<div class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-logo" routerLink="/">
        <div class="logo-img"></div>
        <div>Revenue Splitter</div>
      </div>
      <div class="header__buttons">
        <div class="only-desctop">
          <button class="button button--primary">My Vaults</button>
        </div>
        <div class="header-wallet">
          <div class="icon-wrapper">
            <img src="assets/icons/wallet.svg">
          </div>
          <span class="text-sm no-wrap">Connect Wallet</span>
        </div>
      </div>
    </div>
  </div>
</div>