<ion-content [fullscreen]="true">
  <div class="page">
    <app-header></app-header>
    <div class="content">
      <div class="container">

        <div class="content-layout">
          <div class="content-layout__side content-layout__side--left">
            <div class="content-layout__progress">
              <app-create-vault-progress></app-create-vault-progress>
            </div>
          </div>
          <div class="content-layout__center">
            <div>
              <app-step-info 
                mainText="Add recipients Wallets"
                commentText="In order to start, please select options bellow"
              ></app-step-info>
            </div>
            <div class="content-layout__card mt-32">
              <div class="vault-name">
                <div class="form-control">
                  <p class="text-mutted text-sm no-wrap">Vault Name</p>
                  <div class="form-control__divider"></div>
                  <input type="text" class="plain-input plain-input--primary" placeholder="-">
                </div>
                <div class="icon-wrapper cursor-pointer">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none">
                    <path
                      d="M10.6823 1.42285L10.8629 1.44727L11.0026 1.47949C11.3198 1.56601 11.5699 1.73208 11.7701 1.89453C11.9852 2.06905 12.2177 2.30397 12.4567 2.54297C12.6958 2.78215 12.9315 3.01531 13.1061 3.23047C13.2916 3.45916 13.4814 3.75293 13.5524 4.1377C13.5965 4.37725 13.5965 4.62275 13.5524 4.8623C13.4814 5.24707 13.2916 5.54084 13.1061 5.76953C12.9315 5.98469 12.6958 6.21785 12.4567 6.45703L6.59924 12.3154C6.44213 12.4725 6.23795 12.6886 5.97424 12.8379C5.71055 12.9872 5.42024 13.0506 5.20471 13.1045L3.21741 13.6016C3.06954 13.6385 2.84813 13.6968 2.65393 13.7158C2.4473 13.736 1.99531 13.7425 1.62659 13.374C1.25808 13.0055 1.2646 12.5536 1.28479 12.3467C1.3038 12.1523 1.36207 11.9301 1.39905 11.7822L1.89514 9.79492C1.94903 9.57937 2.01341 9.2891 2.16272 9.02539C2.31193 8.76204 2.5272 8.55836 2.6842 8.40137L8.5426 2.54297C8.78173 2.30384 9.01498 2.06911 9.2301 1.89453C9.45885 1.70891 9.75235 1.51827 10.1373 1.44727C10.3173 1.41409 10.5006 1.40622 10.6823 1.42285Z"
                      stroke="white" stroke-width="2" />
                  </svg>
                </div>
              </div>
              <div class="wallets mt-24" [formGroup]="form">
                <ng-container formArrayName="recipients">
                  <div *ngFor="let ctrl of recipientsArray.controls; let i = index">
                    <app-wallet [name]="'Wallet ' + (i+1)" [group]="ctrl" (removeRecipient)="removeRecipient(i)"></app-wallet>
                    <div class="form-control__divider mt-12"></div>
                  </div>
                </ng-container>
              </div>
              <p class="mt-8 text-danger text-center text-sm" *ngIf="totalPct !== 100">
                Total percent is {{ totalPct }}%. It must be exactly 100%.
              </p>
              <p class="mt-8 text-danger text-center text-sm" *ngIf="hasDuplicates">
                Recipient addresses must be unique.
              </p>
              <!-- <button class="button button--dashed mt-8" type="button" (click)="setMyAddress()">
                Use my wallet for #1
              </button> -->
              <button class="button button--dashed mt-12 button--w100" type="button" (click)="addRecipient()">
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="8.5" cy="8.5" r="6.375" stroke="white" />
                  <path d="M8.5 10.625L8.5 6.375" stroke="white" stroke-linecap="square" />
                  <path d="M10.625 8.5L6.375 8.5" stroke="white" stroke-linecap="square" />
                </svg>
                <span>Add more recipients</span>
              </button>
              <div class="custom-toggle mt-32" [formGroup]="form">
                <span [class.active]="!form.value.mutable">Mutable</span>
                <ion-toggle formControlName="mutable" class="hidden-toggle"></ion-toggle>
                <span [class.active]="form.value.mutable">Immutable</span>
              </div>
              <button class="button button--primary mt-32 button--w100"
                [disabled]="busy() || form.invalid || totalPct !== 100 || hasDuplicates" (click)="create()">
                {{ busy() ? 'Creating…' : 'Create Vault' }}
              </button>
              <button class="button button--primary mt-32 button--w100" (click)="create()">
                {{ busy() ? 'Creating…' : 'Create Vault Dev' }}
              </button>
              <button class="button button--primary-outline mt-12 button--w100" routerLink="/select">Back</button>
            </div>
          </div>
          <div class="content-layout__side content-layout__side--right"></div>
        </div>
        
      </div>
    </div>
  </div>
</ion-content>
