<ion-content [fullscreen]="true">
  <div class="page">
    <app-header></app-header>
    <div class="content">
      <div class="container">
        <div>
          <app-create-vault-progress></app-create-vault-progress>
        </div>
        <div class="mt-24">
          <app-step-info
            mainText="Add recipients Wallets"
            commentText="In order to start, please select options bellow"
          ></app-step-info>
        </div>
        <div class="wallets mt-24">
          <app-wallet name="Wallet 1"></app-wallet>
          <app-wallet name="Wallet 2"></app-wallet>
          <app-wallet name="Wallet 2"></app-wallet>
        </div>
        <button class="button button--primary mt-24 button--w100">Create Vault</button>
        <button class="button button--primary-outline mt-12 button--w100" routerLink="/select">Back</button>
      </div>
    </div>
  </div>
</ion-content>
