.button {
  padding: 10px 42px;
  border-radius: 10px;
  backdrop-filter: blur(13px);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 100%;
  white-space: nowrap;
  @media (min-width: 992px) {
    max-width: 286px;
  }
  &--min-size {
    padding: 10px 10px;
  }
  &--primary {
    border: 1px solid rgba(255, 255, 255, 0.15);
    background: #31A1E5;
    color: #FFF;
    &:disabled {
      color: #595F6C;
      border: 1px solid rgba(255, 255, 255, 0.15);
      background: rgba(11, 12, 14, 0.30);
      cursor: not-allowed;
    }
  }
  &--primary-outline {
    border: 1px solid #31A1E5;
    background: #141926;
    color: #FFF;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &--dashed {
    border: 1px dashed rgba(255, 255, 255, 0.15);
    background: rgba(26, 28, 34, 0.30);
    font-size: 10px;
    color: white;
  }
  &--wider {
    @media (max-width: 991px) {
      max-width: 236px;
    }
  }
}

.custom-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  ion-toggle.hidden-toggle {
    --handle-background: white;
    // --handle-width: 20px;
    // --handle-height: 20px;
    // --handle-border-radius: 50%;
    --track-background: #2196f3; 
    --track-background-checked: #2196f3;
    // --track-border-radius: 16px;
    // --track-width: 40px;
    // --track-height: 20px;
    // --padding-start: 0;
    // --padding-end: 0;
  }

  span {
    font-weight: 500;
    transition: color 0.3s ease;
    color: rgba(255, 255, 255, 0.3);
    &.active {
      color: white;
    }
  }
}

.link-button {
  text-align: center;
  font-size: 8px;
  white-space: nowrap;
  text-decoration: underline;
  background: none;
  &--primary {
    color: #31A1E5;
    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}