.button {
  padding: 10px;
  border-radius: 10px;
  backdrop-filter: blur(13px);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  &--primary {
    border: 0.5px solid rgba(255, 255, 255, 0.15);
    background: #31A1E5;
    color: #FFF;
  }
}
