.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #272B34;

  background-image: url("/assets/images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px 18px; 
  &--small {
    width: 21px;
    height: 21px;
    background-size: 13px 11px; 
  }
  &--big {
    width: 92px;
    height: 92px;
    background-size: 56px 48px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  margin: 0 auto;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps-wrapper {
  width: 100%;
  max-width: 518px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #272B34;

    img {
      max-width: 21px;
    }
  }
}

.content-layout {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  @media (max-width: 991px) {
    gap: 24px;
  }
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: stretch;
    margin-top: 24px;
  }
  &__center {
    max-width: 750px;
    min-width: 750px;
    @media (max-width: 991px) {
      min-width: 100%;
    }
  }
  &__card {
    @media (min-width: 992px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 280px;
      border-radius: 10px;
      border: 0.5px solid rgba(255, 255, 255, 0.15);
      background: rgba(72, 79, 94, 0.30);
      backdrop-filter: blur(14px);
      padding: 32px 116px;
    }
  }
  &__side {
    flex: 1 1 0px;
    @media (max-width: 1200px) {
      flex: initial;
    }
    &--right {
      @media (max-width: 1200px) {
        display: none;
      }
    }
  }
  &__progress {
    @media (min-width: 992px) {
      margin-top: 127px;
    }
  }
}