.plain-input {
  background: transparent;
  border: none;
  outline: none;
  color: inherit;
  font: inherit; 
  line-height: inherit;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;  
  font-weight: 600;
  &--primary {
    color: #31A1E5;
  }
}

.form-control {
  border-radius: 5px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  background: rgba(72, 79, 94, 0.30);
  backdrop-filter: blur(13.5px);
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  font-size: 10px;
  input {
    max-width: 100%;
    width: 100%;
    font-size: 12px;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
  input[type=number]::-webkit-outer-spin-button,
  input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &__divider {
    width: 1px;
    height: 11px;
    background: #3E4352;
  }
}

.custom-search {
  border-radius: 10px;
  border: 1px solid #434752;
  background: #222733;
  gap: 8px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 8px 10px;
}