<ion-content [fullscreen]="true">
  <div class="page">
    <app-header></app-header>
    <div class="content">
      <div class="container container--max-height">
        <div class="home-content">
          <div class="app-info">
            <div class="logo-img"></div>
            <div class="text-md">Your gateway to transparent Money Split on Chain</div>
          </div>
          <button class="button button--primary" routerLink="/select">Enter App</button>
          <div class="app-stats">
            <div class="app-stats__item">
              <div class="title-md">1255</div>
              <div class="text-mutted text-md">Vaults created</div>
            </div>
            <div class="app-stats__splitter"></div>
            <div class="app-stats__item">
              <div class="title-md">364</div>
              <div class="text-mutted text-md">Transfers</div>
            </div>
            <div class="app-stats__splitter"></div>
            <div class="app-stats__item">
              <div class="title-md">869M</div>
              <div class="text-mutted text-md">Processed</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
