<ion-content [fullscreen]="true">
  <div class="page">
    <app-header></app-header>
    <div class="content">
      <div class="container">

        <div class="content-layout">
          <div class="content-layout__side content-layout__side--left">
            <div>
              <app-create-vault-progress></app-create-vault-progress>
            </div>
          </div>
          <div class="content-layout__center">
            <div>
              <app-step-info mainText="Your gateway to transparent Money Split on Chain"
                commentText="In order to start, please select options bellow"
              ></app-step-info>
            </div>
            <div class="selector mt-24">
              <div>
                <p class="text-sm text-bold">Number of recipients</p>
                <p class="text-xs text-mutted">Up to 10 wallets</p>
              </div>
              <div class="form-control">
                <input id="cc" type="number" class="plain-input text-center" placeholder="-" style="max-width: 32px">
              </div>
            </div>
            <button class="button button--primary mt-24 button--w100" routerLink="/create-vault">Continue</button>
          </div>
          <div class="content-layout__side content-layout__side--left"></div>
        </div>

      </div>
    </div>
  </div>
</ion-content>
