<ion-content [fullscreen]="true">
  <div class="page">
    <app-header></app-header>
    <div class="content">
      <div class="container">
        <div>
          <app-create-vault-progress></app-create-vault-progress>
        </div>
        <div class="mt-24">
          <app-step-info
            mainText="Your gateway to transparent Money Split on Chain"
            commentText="In order to start, please select options bellow"
          ></app-step-info>
        </div>
      </div>
    </div>
  </div>
</ion-content>
