.selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  border-radius: 10px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
  background: rgba(26, 28, 34, 0.30);
  padding: 10px;
  width: 100%;
}